name: fuzz

on:
  push:
    branches:
      - main

jobs:
  run-python-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.10'
      
      - name: Run Fuzzer
        run: python fuzz.py

#Reference:https://www.geeksforgeeks.org/devops/run-python-script-in-github-actions/        
