
name: fuzz

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      #- uses: actions/checkout@v4

      - name: doFuzz
        run: python3 fuzz.py
